body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: ;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

nav img {
  float: left;
  margin-top: 15px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  color: red;
}

nav ul li {
  margin-top: 40px;
}

main {
  width: 960px;
  margin: auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

footer {
  height: 100px;
  background-color: gray;
  margin-top: 30px;
}

section article p {
  height: 300px;
  overflow: auto;
}

button {
  background-color: lightgray;
  height: 30px;
}